*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #080b18;
    color: white;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 6%;
    z-index: 10;
    background: rgba(8, 11, 24, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.logo {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
}

.logo::after {
    content: "✦";
    color: #79d9ff;
}
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 2px;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #79d9ff;
}
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 8%;
    position: relative;
    overflow: hidden;
    background:
        radial-gradient(
            circle at 70% 40%,
            rgba(40, 100, 180, 0.35),
            transparent 30%
        ),
        #080b18;
}
.small-text {
    color: #79d9ff;
    font-size: 11px;
    letter-spacing: 4px;
    margin-bottom: 25px;
}
.hero h1 {
    font-size: clamp(80px, 16vw, 190px);
    line-height: 0.8;
    letter-spacing: -8px;
}

.hero h1 span {
    color: #79d9ff;
}

.hero-description {
    margin-top: 45px;
    color: #aaa;
    font-size: 18px;
}
.scroll {
    margin-top: 50px;
    width: fit-content;
    color: white;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 3px;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    transition: 0.3s;
}

.scroll:hover {
    color: #79d9ff;
    border-color: #79d9ff;
}
.section,
.interests {
    padding: 150px 8%;
}

.section-number {
    color: #79d9ff;
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 45px;
}
